body {
	max-width: 100ex;

	font-family: monospace;
	font-size: 14px;
}

.manual-text {
	padding: 0 9ex 1ex 4ex;
}

.head, .foot {
	width: 100%;
	color: #999;
}
.head-vol {
	text-align: center;
}
.head-rtitle {
	text-align: right;
}

h1 {
	font-size: 16px;
}

p {
	text-align: justify;
}
.Bd-indent {
	padding-left: 4ex;
}

pre {
	color: #434241;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #111;
		color: #eee;
	}

	a {
		color: #70b5ff;
	}

	a:visited {
		color: #1988ff;
	}

	pre {
		color: #9d9d9d;
	}
}
